<div>
	<h2>New Appointment</h2>
	<form>
		date: <input type="date" name="date" ng-model="appointment.date">
		Time: <select ng-model="appointment.time">
			<option value="8:00 AM"> 8:00 AM</option>
			<option value="9:00 AM"> 9:00 AM</option>
			<option value="10:00 AM"> 10:00 AM</option>
			<option value="11:00 AM"> 11:00 AM</option>
			<option value="12:00 PM"> 12:00 PM</option>
			<option value="1:00 PM"> 1:00 PM</option>
			<option value="2:00 PM"> 2:00 PM</option>
			<option value="3:00 PM"> 3:00 PM</option>
			<option value="4:00 PM"> 4:00 PM</option>
			<option value="5:00 PM"> 5:00 PM</option>
		</select>
		Complaint: <textarea ng-model="appointment.complaint"></textarea>
		<button ng-click="cancel()">Cancel</button>
		<button ng-click="create()">Submit</button>
	</form>
</div>
<div ng-if="messages">
	<p ng-repeat="message in messages" ng-bind="message"></p>
</div>